.button {
  text-decoration: none;
  color: white; /* text color */
  background-color: #00a896;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  opacity: 0.9;
}

.button:hover {
  opacity: 1;
  transition: 0.3s;
}
